@import "../../sass/shared.scss";

@mixin collapsible_button {
  button {
    width: 100%;
    border: none;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    cursor: pointer;
    padding: 0.5em 0;
    background-color: white;

    svg {
      font-size: 1em;
      fill: $secondary_color;
    }
  }
}

.projects_view {
  @include element("projects_list") {
    @include element("project_card") {
      text-align: center;
      transition: transform 0.25s;
      margin-bottom: 1em;
      -moz-column-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      break-inside: avoid;

      &:hover {
        transform: scale(1.05);
      }

      h2,
      p,
      a {
        font-family: "Rubik", sans-serif;
      }

      @include element("header") {
        background-color: $primary_color;
        padding: 0.8em 0;
        border-top-right-radius: 9px;
        border-top-left-radius: 9px;

        @include element("title") {
          color: white;
          font-size: 1.2em;
        }
      }

      @include element("content") {
        color: $secondary_color;
        background-color: white;
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
        transition: padding 0.2s;
        overflow: hidden;
        padding: 2em 2em 0;

        @include modifier("collapsed") {
          padding: 0;
          background-color: white;
          border-bottom-right-radius: 9px;
          border-bottom-left-radius: 9px;
          transition: padding 0.2s;

          @include collapsible_button();
        }

        @include element("description") {
          margin-bottom: 1em 0;
        }

        @include element("link_btn") {
          padding: 0.5em;
          margin: 2em 1em 0.3em;
          background-color: $primary_color;

          a {
            color: white;
            text-decoration: none;
          }
        }

        @include collapsible_button();
      }
    }
  }
}
